@{
    ViewData["Title"] = "Home Page";
}

@model List<ArticleModel>

<!DOCTYPE html>
<html>
<head>
    <title>News</title>
</head>
<body>
    <section id="news1">
        <article>
            <a href=""><b>Officials: Over 2,600 rescued from flooded Ukrainian-controlled areas of Kherson</b></a>
            <div style="position: relative;">
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/97ff8560-8c09-4bfb-8d40-86f8ea671d18.jpg?c=16x9&q=h_720,w_1280,c_fill" class="bigImg">
                <div style="padding: .4rem 1rem; width: 130px; position: absolute; bottom: 0; left: 0; background-color: white; display: flex; align-items: center; justify-content: space-between;"><i class="bi bi-dot" style="font-size: 3rem; color: red; margin: -1.5rem -.8rem;"></i><b style="font-size: .7rem;">LIVE UPDATES</b></div>
            </div>
            <a href=""><b>Water level at the Nova Kakhovka reservoir ‘continues to decline,’ minister says, after collapse of major dam in southern Ukraine</b></a>
            <ul>
                @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 3 })

            </ul>
        </article>
        <article>
            <div>
                <div style="position: relative;">
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230613205742-05-donald-trump-bedminster-061323.jpg?c=16x9&q=h_720,w_1280,c_fill" class="smallImg">
                    <div style="padding: .4rem 1rem; width: 130px; position: absolute; bottom: 0; left: 0; background-color: white; display: flex; align-items: center; justify-content: space-between;"><i class="bi bi-dot" style="font-size: 3rem; color: red; margin: -1.5rem -.8rem;"></i><b style="font-size: .7rem;">LIVE UPDATES</b></div>
                </div>
                <a href=""><b>Trump’s chilling remarks reveal a deeper, emerging reality about the 2024 campaign</b></a>
                <ul>
                    @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 3 })

                </ul>
            </div>
            <div>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/230531134142-india-new-parliament-house-building-0524.jpg?c=16x9&q=h_720,w_1280,c_fill" class="smallImg">
                <a href=""><b>A map in India’s new Parliament is making its neighbors nervous</b></a>
            </div>
        </article>
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230615155632-01-pittsburgh-synagogue-trial-0615-bowers.jpg?c=16x9&q=h_438,w_780,c_fill" class="smallImg">
            <a href=""><b>Pittsburgh synagogue gunman found guilty on all 63 charges</b></a>
            <ul>
                @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 5 })

            </ul>
        </article>
    </section>
    <section id="news2">
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230622192324-01-how-repel-mosquitos-scientifically-wellness-scn.jpg?c=16x9&q=h_438,w_780,c_fill" class="smallImg">
            <a href=""><b>What scientists say keeps mosquitoes at bay</b></a>
            <ul>
                @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 6 })

            </ul>
        </article>
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230622161002-01-us-tourists-hot-commodity-restricted.jpg?c=16x9&q=h_438,w_780,c_fill" class="bigImg">
            <a href=""><b>‘Everybody loves Americans’: Why US tourists are a hot commodity</b></a>
            <ul>
                <li>
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230621115243-dr-james-gill-cranial-nerve-screengrab.jpg?c=16x9&q=h_438,w_780,c_fill" class="vSmallImg">
                    <a href="">These ordinary people became accidental stars thanks to this niche video genre</a>
                </li>
                <li>
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230516112548-01-crossroads-maldives-aerial.jpg?c=16x9&q=h_438,w_780,c_fill" class="vSmallImg">
                    <a href="">This country is 99% water. But the 1% is paradise</a>
                </li>
            </ul>
        </article>
        @* SIDE BAR SECTION 1 *@
        <article class="SArticle">
                <ul style="margin-top: 0;">

                @foreach (var article in Model.Take(4))
                {
                    <li style="border-top: none; padding-top: 0;">
                        <img src="@article.UrlToImage" class="vSmallImg">
                        <a href=@article.Url>@article.Title</a>
                    </li>
                    <hr/>
                }
                </ul>
        </article>

    </section>
    <section id="news3">
        <article class="SArticle">
            <img src="https://cdn.cnn.com/cnn/interactive/uploads/20230619-cockatoo_image_c.jpg" class="smallImg">
            <a href=""><b>This endangered bird has found a refuge among Hong Kong’s skyscrapers</b></a>
            <ul>
                <li>
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230626113836-jesse-watters-fox-file-restricted.jpg?c=16x9&q=h_438,w_780,c_fill" class="vSmallImg">
                    <a href="">Fox News shuffles prime-time lineup in wake of Tucker Carlson firing and sagging ratings</a>
                </li>
                <li>
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230626093100-reynolds-and-mcelhenney-los-angeles-0429.jpg?c=16x9&q=h_438,w_780,c_fill" class="vSmallImg">
                    <a href="">Hollywood stars part of group taking 24% stake in F1 team</a>
                </li>
                <li>
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230623160908-home-for-rent-ca-file-restricted.jpg?c=16x9&q=h_438,w_780,c_fill" class="vSmallImg">
                    <a href="">Rent is falling in America for the first time in years</a>
                </li>
            </ul>
        </article>
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230623142929-05-marie-heg-bolette-berg-untold-art-history.jpg?c=16x9&q=h_438,w_780,c_fill" class="bigImg">
            <a href=""><b>Lost for decades, these 19th-century photo portraits tell a quietly radical love story</b></a>
            <ul>
                <li>
                    <video class="vSmallImg" loop autoplay mute>
                        <source src="https://media.cnn.com/api/v1/loops/stellar/prod/desktoploop-2.mp4?q=h_422,w_752,x_0,y_0">
                    </video>
                    <a href="">Curious whale follows kayak as Australia revels in bumper annual humpback count</a>
                </li>
                <li>
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230627130233-01-jacquemus-fashion-062623.jpg?c=16x9&q=h_438,w_780,c_fill" class="vSmallImg">
                    <a href="">Jacquemus’ Versailles show was an ode to Princess Diana</a>
                </li>
            </ul>
        </article>
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230627082417-01-world-arak-day-top.jpg?c=16x9&q=h_438,w_780,c_fill" class="smallImg">
            <a href=""><b>It’s one of the world’s oldest spirits. Now it’s making a comeback</b></a>
            <ul>
                <li>
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230627113327-04-jolien-boumkwo.jpg?c=16x9&q=h_438,w_780,c_fill" class="vSmallImg">
                    <a href="">Shot putter enjoys ‘crazy’ fame after competing in hurdles event</a>
                </li>
                <li>
                    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230626110109-01-happy-gilmore-golfer-college.jpg?c=16x9&q=h_438,w_780,c_fill" class="vSmallImg">
                    <a href="">Adam Sandler sends support to real-life Happy Gilmore</a>
                </li>
                <li>
                    <div style="position: relative; cursor: pointer; height: 60px;">
                        <img src="https://media.cnn.com/api/v1/images/stellar/prod/230526163342-watermelon-01.jpg?c=16x9&q=h_438,w_780,c_fill" class="vSmallImg">
                        <div style="color: white; position: absolute; left: 0; bottom: 0; background-color: gray; padding: .1rem .4rem;"><i class="bi bi-play-circle" style="padding-right: 5px;"></i>Video</div>
                    </div>
                    <a href="">How to pick the perfect watermelon in 3 easy steps</a>
                </li>
            </ul>
        </article>
    </section>
    <section>
        <h1>Featured Section</h1>
    </section>
    <section id="news5">
        <article class="SArticle">
            <div>SPORT</div>
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230629093850-01-caroline-wozniacki-file.jpg?c=16x9&q=h_438,w_780,c_fill" class="smallImg">
            <a href="" style="font-size: 1.2rem;"><b>Caroline Wozniacki plans return to tennis at US Open three years after retiring from the sport</b></a>
            <ul>
                @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 5 })
            </ul>
        </article>
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230616123458-02-bronze-age-sword-germany.jpg?c=16x9&q=h_438,w_780,c_fill" class="smallImg">
            <a href=""><b>Archaeologists find a 3,000-year-old sword so well preserved it’s still gleaming</b></a>
            <ul>
                @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 5 })
            </ul>
        </article>
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230626155240-02-wagner-rostov-062423.jpg?c=16x9&q=h_438,w_780,c_fill" class="smallImg">
            <a href=""><b>How Prigozhin’s mutiny will resonate in Russia</b></a>
            <ul>
                @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 5 })
            </ul>
        </article>
    </section>
    <section id="news6">
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230707160356-alexandria-ocasio-cortez-053123.jpg?c=16x9&q=h_438,w_780,c_fill" class="smallImg">
            <a href=""><b>Rep. Alexandria Ocasio-Cortez supports Biden’s reelection bid</b></a>
            <ul>
                @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 3 })

            </ul>
        </article>
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230703122657-01-cambrian-predator-scn.jpg?c=16x9&q=h_438,w_780,c_fill" class="smallImg">
            <a href=""><b>New study: Ancient shrimplike predator was misunderstood</b></a>
            <ul>
                @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 4 })

            </ul>
        </article>
        <article class="SArticle">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230426220909-samsung-022023.jpg?c=16x9&q=h_438,w_780,c_fill" class="smallImg">
            <a href=""><b>Samsung flags massive drop in quarterly profit as chip glut drags on</b></a>
            <ul>
                @await Component.InvokeAsync("MNNewsList", new { randomize = true, noOfArticle = 4 })

            </ul>
        </article>

    </section>


</body>
</html>

